<header>
    <div class="collapse-toggle">
        <i class="fa-light fa-xmark" onclick="collapseNav()"></i>
    </div>
    <div class="account-toggle" onclick="accountToggle()">
        <span></span>
        <i class="fa-light fa-angle-down"></i>
    </div>
    <div class="box-account-config">
            <button onclick="minhaConta()">
                <i class="fa-light fa-user"></i>
                <span>Minha Conta</span>
            </button>
            <button onclick="redirect('/')">
                <i class="fa-light fa-right-from-bracket"></i>
                <span>Sair</span>
            </button>
        </div>
</header>